#rastreio-de-contactos-group {
    border: 1px dashed;
}

.form-group.required label:after {
    content: "*";
    color: red;
}

#cpostal4 {
    margin-left: 10px;
}

#cpostal4, #cpostal3 {
    max-width: 100px;
}